* {
  box-sizing: border-box;
}
body {
  font-family: rubik, helvetica, arial, sans-serif;
  font-size: 14px;
}
a {
  color: rgb(0, 84, 168);
  text-decoration: none;
}
img {
  width: 100%;
}
.float-right {
  float: right;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.main-article {
  min-width: 720px;
  width: 45%;
  padding: 30px;
  margin: auto;
  background-color: rgb(232, 233, 231);
}
.info {
  width: 90%;
  margin: auto;
  padding: 15px;
  padding-left: 65px;
  border-color: rgb(187, 194, 198);
  border-width: 1px;
  border-left-width: 4px;
  border-style: solid;
  background-color: rgb(188, 212, 245);
}
.nav-menu {
  width: 120px;
  border: 1px solid rgb(187, 194, 198);
  background-color: white;
}
.title-menu {
  margin: 0;
  padding: 8px 15px;
  border-bottom: 1px solid rgb(187, 194, 198);
  background-color: rgb(234, 236, 240);
  font-size: 1em;
}
.nav-list{
  padding-left: 30px;
}

/*стилі для таблиці*/
.table-history {
  width: 70%;
  border-collapse: collapse;
  background-color: rgb(248, 249, 250);
}
.table-history th,
.table-history td {
  border: 1px solid gray;
  padding: 6px;
}
.table-history th {
  color: rgb(0, 84, 168);
  background-color: rgb(234, 236, 240);
}
